/*
    FONT
*/

$primary-font: 'AvengeanceMightiestAvenger, Arial, Helvetica, sans-serif';
$secondary-font: 'Montserrat-Light, Arial, Helvetica, sans-serif';

/*
    Color
*/
$primary-color: #ffaa00;
$secondary-color: #a80e0e;
$tertiary-color: #382e36;

$white-color: #fff;
$black-color: #000;
$brownish-grey-color: #686868;
$purple-brown-color: rgba(40,25,35,0.6);

$container-width : 960px;
$screen-sm: 768;
$screen-md: 992;
$screen-lg: 1200px;
